body {
	background: white;
	color: black;
        font-family:Arial, helvetica, sans-serif;
}

h1 {
	color: darkblue
}

em {
	color: red;
	font-style: italic
}

hr {
	border: 1px solid #f00;
	color: maroon;
	background-color: #fcd624;
	height: 4px;
}

tr.headerRow {
	background-color: #aeaeff;
}

tr.rowLight {
	
}

tr.rowMedium {
	background-color: #ffcccc;
}

tr.rowDark {
	background-color: #fcd624;
}

.footer {
	font-family:Arial, helvetica, sans-serif;
	color:#060606;
	font-style:italic;
}

.fixed {
	font-family:courier;
	color:#000000;
}
