body {
	background: white;
	color: black;
        font-family:Arial, helvetica, sans-serif;
}

em {
	color: red;
	font-style: italic
}

hr {
	border: 1px solid #000;
	background-color: #ededed;
	height: 4px;
}

.footer {
	font-family:Arial, helvetica, sans-serif;
	color:#060606;
	font-style:italic;
}

.fixed {
	font-family:courier;
	color:#000000;
}


div {
	margin:3px;
}

h1 {
	position:absolute;
	top:2em;
	right:6em;
	font-size:22px;
}
